@import 'node_modules/bootstrap/less/bootstrap';
@import 'variables';
@import 'mixins';
@import 'loading-icon';
@import 'seo-page';

/* @group General */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: arial, helvetica, sans-serif;
}

body {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

a {
  cursor: pointer;
}

/* @end General */


/* @group Variables Overides */

@navbar-inverse-bg: @ThemePrimary;
@navbar-inverse-border: @ThemePrimary;

@navbar-inverse-link-color: @White;
@navbar-inverse-link-hover-bg: @ThemeSecondary;

@navbar-inverse-brand-hover-bg: @ThemeSecondary;

/* @end Variables Overides */


/* @group Basic Layout */

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: @SidebarWidth;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: @Grey;
}

.sidebar-container {
  position: absolute;
  top: 50px;
  right: 0;
  width: @SidebarWidth;
  height: 100%;
  padding-top: 10px;
  box-shadow: 0 0 5px @TransparentBlack;
  background-color: @White;
  background-color: @GreyLight;
  overflow: hidden;
}

.loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: @TransparentWhite;
}

/* @end Basic Layout */


/* @group Navigation Bar */


.navbar-brand {
  background-color: darken(@ThemePrimary, 10%);

  .app-logo {
    max-height: 100%;
  }
}

/* @end Navigation Bar */


/* @group Iframe */

.iframe {
  display: block;
  position: relative;
  padding: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;

  &.xs {
    max-width: 480px;
  }

  &.sm {
    max-width: 768px;
  }

  &.md {
    max-width: 992px;
  }

  &.lg {
    max-width: 1200px;
  }
}

/* @end Iframe */

/* @group Sidebar Menu */

.sidebar-menu {
  padding: 0 5px;

  .size-control {
    width: 64px;
  }

  .form-group {
    height: 36px;

    &:first-child{
      margin-bottom: 5px;
      margin-left: 0;
    }

    .pull-right {
      margin-right: 0;
    }

    button {
      float: left;
      margin-left: 5px;
      margin-right: 5px;
    }

    select {
      -webkit-appearance: none;
    }
  }

  .btn {
    margin-left: 5px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

/* @end Sidebar Menu */

/* @group Search */

.sidebar-menu .search-wrapper {

  input {
    padding-right: 32px;
  }

  .glyphicon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px;
    padding-top: 11px;
    cursor: pointer;
  }
}

/* @end Search */

/* @group Sidebar */

.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: left;

  label {
    position: relative;

    .variable-name {
      display: block;
      position: relative;
      width: 100%;
      padding-right: 20px;
      z-index: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .glyphicon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      cursor: pointer;
    }
  }
}

/* @end Sidebar */

/* @group Form Collection */

.form-collection {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid @Grey;
  overflow: hidden;
  height: auto;

  &.active h4 {
    margin-bottom: 10px;

    &::before {
      position: absolute;
      font-size: 14px;
      top: 1px;
      left: 0;
      content: '▲';
    }
  }

  h4 {
    position: relative;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
      position: absolute;
      font-size: 14px;
      top: 2px;
      left: 0;
      content: '▼';
    }
  }

  .form-group {
    label {
      display: block;
      position: relative;

      .glyphicon {
        position: absolute;
        right: 0;
        font-size: 12px;
        line-height: 18px;
        padding: 0 4px;
      }
    }
  }
}

/* @end Form Collection */

/* @group Color Picker */

.input-wrapper {
  position: relative;

  input {
    position: relative;
    z-index: 0;
  }

  .color-picker {
    width: 100%;
    height: auto;
    z-index: 1;

    .values {
      position: relative;
      margin-top: 8px;
      z-index: 0;

      .col-xs-12 {
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .swatch {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      margin: 5px;
      background-color: @White;
      border: 1px solid @GreyMedium;
      cursor: pointer;
    }
  }

  /* http://www.colorzilla.com/gradient-editor/ */
  .gradient.white {
    @SolidWhite: rgba(255, 255, 255, 1);
    @AlphaWhite: rgba(255, 255, 255, 0);
    #gradient > .vertical(@SolidWhite, @AlphaWhite);
  }

  .gradient.grey {
    @SolidGrey: rgba(127, 127, 127, 1);
    @AlphaGrey: rgba(127, 127, 127, 0);
    #gradient > .horizontal(@SolidGrey, @AlphaGrey);
  }

  .gradient.black {
    @SolidBlack: rgba(0, 0, 0, 1);
    @AlphaBlack: rgba(0, 0, 0, 0);
    #gradient > .vertical(@AlphaBlack, @SolidBlack);
  }

  .gradient.grey {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .gradient.white {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .gradient.black {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    z-index: 0;
  }

  .picker {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: @White;
    border: 1px solid @GreyMedium;
    margin-top: -1px;
    border-radius: 4px;

    .background {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-color: @Red;
      border: 1px solid @GreyMedium;
      z-index: 1;
    }

    .palette {
      position: relative;
      width: 100%;
      height: auto;
      padding-right: 32px;
      z-index: 1;
    }

    .hue-slider {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 100%;
      border: 1px solid @GreyMedium;
      background-image: url('../../img/hue-background.png');
      background-position: 0 0;
      background-size: 100% 100%;
      overflow: hidden;
      z-index: 0;

      .handle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        border-top: 1px solid @White;
        border-bottom: 1px solid @White;
        margin-top: -4px;

        &::before {
          content: ' ';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 1px solid @Black;
          border-bottom: 1px solid @Black;
        }
      }
    }

    .point {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid @White;
      border-radius: 50%;
      margin-left: -4px;
      margin-top: -4px;
      .transition5(ease-in-out width 0.1s, ease-in-out height 0.1s, ease-in-out margin-top 0.1s, ease-in-out margin-left 0.1s, ease-in-out box-shadow 0.1s);

      &::before {
        content: ' ';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid @Black;
        border-radius: 50%;
      }
    }
  }
}

/* @end Color Picker */

/* @group Modals */

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: @ModalOverlay;
  overflow: auto;
}

.variable-textarea {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
}

.file-name {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 0;
  border-bottom: 0;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* @end Modals */
