.transition2(@value1) {
  -webkit-transition: @value1;
  -moz-transition: @value1;
  -ms-transition: @value1;
  -o-transition: @value1;
  transition: @value1;
}

.transition2(@value1, @value2) {
  -webkit-transition: @value1, @value2;
  -moz-transition: @value1, @value2;
  -ms-transition: @value1, @value2;
  -o-transition: @value1, @value2;
  transition: @value1, @value2;
}

.transition5(@value1, @value2, @value3, @value4, @value5) {
  -webkit-transition: @value1, @value2, @value3, @value4, @value5;
  -moz-transition: @value1, @value2, @value3, @value4, @value5;
  -ms-transition: @value1, @value2, @value3, @value4, @value5;
  -o-transition: @value1, @value2, @value3, @value4, @value5;
  transition: @value1, @value2, @value3, @value4, @value5;
}
