.seo-page {

  .header {
    color: @White;
    background: @ThemeGradientTop;
    background: -moz-linear-gradient(-45deg, @ThemeGradientTop 0%, @ThemeGradientBottom 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, @ThemeGradientTop), color-stop(100%, @ThemeGradientBottom));
    background: -webkit-linear-gradient(-45deg, @ThemeGradientTop 0%, @ThemeGradientBottom 100%);
    background: -o-linear-gradient(-45deg, @ThemeGradientTop 0%, @ThemeGradientBottom 100%);
    background: -ms-linear-gradient(-45deg, @ThemeGradientTop 0%, @ThemeGradientBottom 100%);
    background: linear-gradient(135deg, @ThemeGradientTop 0%, @ThemeGradientBottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@ThemeGradientTop', endColorstr='@ThemeGradientBottom', GradientType=1 );

    text-align: center;

    .logo {
      margin: 20px auto 10px;
      max-width: 250px;
    }

    .buttons-wrapper {
      margin: 40px 0 20px;

      .btn {
        margin: 0 10px;
      }
    }
  }

  .features {

    .feature {

    }
  }

  .footer {
    background-color: @ThemePrimary;
    color: @White;
    padding: 15px 0;
  }
}
