.seo-page {
  position: relative;
  width: 100%;
  height: 100%;

  .section {
    position: relative;
    width: 100%;
  }

  .jumbotron-container {
    height: 100%;
    background: @ThemeGradientTop;
    #gradient > .vertical(@ThemeGradientTop, @ThemeGradientBottom);
  }

  @jumbotron-height: 180px;

  .jumbotron {
    position: absolute;
    height: @jumbotron-height;
    width: 100%;
    background: none;
    top: 50%;
    margin-top: -@jumbotron-height * 0.5;
    margin-bottom: 0;
    text-align: center;
    color: @White;
    padding: 0;

    h1 {
      font-size: 80px;
      font-weight: 300;
      padding: 0;
      margin: 0;

      small {
        display: block;
        font-size: 16px;
        color: @White;
        margin: 0;
      }

      a {
        display: block;
        width: 80%;
        max-width: 250px;
        margin: 0 auto;
      }
    }

    .btn-group {
      margin: 20px 0;

      .btn {
        padding: 8px 12px;
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  .logo-icon {
    .sr-only;
  }

  .logo-text {
    .sr-only;
  }

  .logo-full {
    display: block;
    width: 80%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
  }

  .logo-icon,
  .logo-full {
    img {
      width: 100%;
    }
  }

  .footer {
    background-color: @ThemePrimary;
    color: @White;
    padding: 15px 0;
  }
}

@media all and (min-width: @screen-sm-min) {

  .seo-page {

    @jumbotron-height: 380px;

    .jumbotron {
      height: @jumbotron-height;
      margin-top: -@jumbotron-height * 0.5;

      .btn-group {
        margin: 20px 0;

        .btn {
          padding: 10px 14px;
          font-size: 20px;
        }
      }
    }

    .logo-icon {
      position: relative;
      display: block;
      width: 80%;
      max-width: 200px;
      height: auto;
      margin: 0 auto;
    }

    .logo-text {
      position: relative;
      margin: 0 auto;
      width: auto;
      height: auto;
    }

    .logo-full {
      .sr-only;
    }
  }

}
