.page-header h1 {
  padding-top: 55px;
  margin-top: -55px;
}

#sidebar li {
  border-left: 4px #fff solid;
}

#sidebar li.active {
  border-left: 4px #eee solid;
}

#sidebar li a {
  padding: 5px 15px;
}

#sidebar.affix-top {
  position: static;
  width: 228px;
}

#sidebar.affix {
  position: fixed;
  top: 70px;
  width: 228px;
}
