<!DOCTYPE html>
<html>
<head>
  <title>Betta Template 1</title>
  <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8" />
</head>
<body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div>

  <script charset="utf-8" type="text/javascript" src="../static/lib/jquery/dist/jquery.min.js"></script>
  <script charset="utf-8" type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
