<!DOCTYPE html>
<html>
<head>
  <title>Betta Template 1</title>
  <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8" />
</head>
<body>

  <main class="container">
    <section class="row">
      <div class="col-xs-12">
        <button class="btn btn-small btn-primary">Test</button>
        <p>Hello, world!</p>
      </div>
    </section>
  </main>

  <script charset="utf-8" type="text/javascript" src="../static/lib/jquery/dist/jquery.min.js"></script>
  <script charset="utf-8" type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
